body {
    background: rgb(20, 20, 20);
    font-family: 'Roboto', sans-serif;
}

.content {
    background: rgb(33, 33, 33);
    color: white;
    width: 50%;
    min-height: 75vh;
    height: auto;
    margin: 100px auto;
    padding: 25px 50px;
    box-sizing: border-box;
}

#header {
    color: white;
    text-align: center;
    margin: 0;
}

.quote {
    margin-top: 12px;
}

p {
    margin: 0;
    padding: 0;
    color: grey;
}

.citation {
    text-align: right;
    font-weight: 700;
    margin-bottom: 18px;
}

.task-input-form {
    display: flex;
    gap: 5px;
    background: rgb(60, 60, 60);
}

input, button {
    border: none;
    background: none;
    outline: none;
    appearance: none;
}

#task-input {
    flex: 1 1 0%;
    color: white;
    padding: 0.5rem;
    font-size: 16px;
}

::placeholder {
    color: white;
    font-size: 16px;
}

#task-add-button {
    color: white;
    border: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#task-add-button:hover {
    background: white;
    color: rgb(60, 60, 60);
}

ul {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    margin-bottom: 12px;
    gap: 6px;
    transition: 0.5s ease;
}

.task-name {
    flex: 1 1 0%;
    color: white;
    padding: 0.25rem;
    font-size: 16px;
}

.fa-check,
.fa-wrench,
.fa-x {
    pointer-events: none;
}

.complete-task-btn, .delete-task-btn, .edit-task-btn {
    padding: 0.25rem;
    cursor: pointer;
    transition: 0.4s;
}

.complete-task-btn {
    color: rgb(37, 204, 37);
}

.edit-task-btn {
    color: grey;
}

.delete-task-btn {
    color:crimson;
}

.delete-task-btn:hover {
    background: crimson;
    color: rgb(33, 33, 33);
}

.complete-task-btn:hover {
    background: rgb(37, 204, 37);
    color: rgb(33, 33, 33);
}

.edit-task-btn:hover {
    background: grey;
    color: rgb(33, 33, 33);
}

.completed-task {
    opacity: 0.5;
    text-decoration: line-through;
}