body {
    background: #5CDB95;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding: 0px 12rem;
}

#header {
    color: #EDF5E1;
    text-align: center;
}

.task-input-form {
    display: flex;
    gap: 5px;
}

input, button {
    border: none;
    background: none;
    outline: none;
    appearance: none;
}

#task-input {
    flex: 1 1 0%;
    background: #379683;
    color: #EDF5E1;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

::placeholder {
    color: #EDF5E1;
    font-size: 16px;
}

#task-add-button {
    background: #05386B;
    color: #EDF5E1;
    padding: 0.5rem;
    font-size: 16px;
    border-radius: 0.5rem;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    margin-bottom: 12px;
    gap: 6px;
}

.task-name {
    flex: 1 1 0%;
    background: #EDF5E1;
    color: #05386B;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.complete-task-btn, .delete-task-btn, .edit-task-btn {
    cursor: pointer;
    transition: 0.4s;
}

.delete-task-btn:hover {
    color: crimson;
}

.complete-task-btn:hover {
    color: #379683;
}

.edit-task-btn:hover {
    color: grey;
}